<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    {% block cotent %}
    <form action="adduser" method="post">
        {% csrf_token %}
        <label for="">First name:</label>
        <input type="text" name="name"><br>
        <label for="">age</label>
        <input type="number" name="age" ><br>
        <label for="">email</label>
        <input type="email" name="email" ><br>
        <label for="">password</label>
        <input type="password" name="password" ><br>
        <input type="submit" name="submit" ><br>
        <a href="viewuser">view page</a><br>
        <a href="login">login page</a>
    </form>
    {% endblock %}
</center>
</body>
</html>